version: '3'

services:
  ipfs:
    image: ipfs/go-ipfs
    command: daemon --writable
  torus-backend:
    restart: always
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3040:3040/tcp"
    volumes:
      - .:/app